<div class="panel panel-default" ng-controller = "transactionController as transactionCtrl">
	<div class="panel-heading">Transactions page</div>
	    <div class="dropdown">
	    		<div class="btn-group">
  				<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    				AccNo
  				</button>
  			<div class="dropdown-menu">
  				<li class="dropdown-item">
  					<a class="dropdown-item" href="#" ng-repeat="transaction in transactionCtrl.transactions" ng-click="transactionCtrl.getAccNo(transaction.accountNumber)">{{transaction.accountNumber}}</a>
    				</li>
  			</div>
		</div>
	    <div class="panel-body">
   		<div ng-show="transactionCtrl.accNum">
        	<h3><span>Transactions table</span></h3>
        	<table  class="table">
        		<tr>
        			<th>{{'transaction_id' | uppercase}}</th>
        			<th>{{'transaction_name' | uppercase}}</th>
        			<th></th>
        		</tr>
        		<tr ng-repeat="transaction in transactionCtrl.transactions  | filter:transactionCtrl.accNum">
        			<td>{{transaction.id}}</td>
        			<td>{{transaction.transactionName}}</td>
        			<td><button class="btn" ng-click="transactionCtrl.transId(transaction.id)">Details</button></td>
        		</tr>
        	</table>
        </div>
	</div>
	</div>
</div>