<!DOCTYPE html>
<html lang="en" ng-app="accountApp">
<head>
    <meta charset="UTF-8">
    <title>Banking Application</title>
    <link rel="stylesheet" href="scripts/bootstrap.min.css"> 
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Banking Application</a>
            </div>
        </div>
    </nav>
    <div class="dashboard panel panel-default" ng-controller="accountController as accountCtrl">
	    <div class="panel-heading">Accounts page</div>
	    <div class="panel-body">
   		{{accountCtrl.test}}
   		<div ng-hide="accountCtrl.isHidden">
        	<h3><span>Accounts table</span></h3>
        	<table class="table">
        		<tr>
        			<th ng-click="accountCtrl.sortColumn('firstName')">{{'first_name' | uppercase}}</th>
        			<th ng-click="accountCtrl.sortColumn('secondName')">{{'surname' | uppercase}}</th>
        			<th>{{'account_number' | uppercase}}</th>
        		</tr>
        		<tr ng-repeat="account in accountCtrl.accounts | orderBy: accountCtrl.sort">
        			<td ng-style="blueStyle">{{account.firstName}}</td>
        			<td ng-style="redStyle">{{account.secondName}}</td>
        			<td ng-style="yellowStyle">{{account.accountNumber}}</td>
        		</tr>
        	</table>
        </div>
        <button class="btn" ng-click="blueStyle={color:'blue'}">first names blue</button>
        <button class="btn" ng-click="redStyle={color:'red'}">second names red</button>
        <button class="btn" ng-click="yellowStyle={color:'yellow'}">account numbers yellow</button>
        <button class="btn" ng-click="accountCtrl.hideTable()">Hide accounts</button>
	</div>
    
    
	
    <script src="scripts/jquery-2.1.4.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ui-router.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="app/app.js"></script>
    <SCript src="app/controllers/account-controller.js"></SCript>
</body>
</html>